
aulas/data/.DS_Store
aulas/.DS_Store
.DS_Store
aulas/.DS_Store
aulas/.ipynb_checkpoints/20230121a Functional Programming-checkpoint.ipynb
aulas/.ipynb_checkpoints/20230126 OOP-checkpoint.ipynb
aulas/.ipynb_checkpoints/
.DS_Store
aulas/.DS_Store
